/* :root {
    --firstColor: #eeeeee;
    --secondColor: #809a70;
    --bgColor: #809a70;
    --thirdColor: #fff;
} */
* {
  margin: 0;
}
:root {
  --firstColor: #f7f1f1;
  --secondColor: #800000;
  --thirdColor: #623222;
  --bgColor: #800000;
}

body {
  background-color: #f7f1f1;
  background-image: url(../img/coffeg.png);
  object-fit: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  margin: 0;
}
/* elimina el formato default para */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

header {
  background-color: var(--bgColor);
  width: 100vw;
  padding: 1rem 0;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  position: fixed;
  z-index: 2;
}

header h2 {
  color: var(--firstColor);
  font-size: 50px;
  font-weight: 100;
  margin: 0;
}

.not {
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin: 5px 15px;
  text-align: center;
  margin: 5px 10px 5px 0px;
  /* background-color:#333; */
  border-radius: 15px;
  padding: 3px 5px;
  transition: all 0.5s ease;
}
nav ul li:hover {
  letter-spacing: 3px;
  background-color: #6232223f;
  color: hsl(0, 0%, 100%);
  box-shadow: #4a0303 0px 5px 8px 1px;
}
nav ul li:active {
  box-shadow: none;
}

nav a {
  color: var(--firstColor);
  padding: 1px 5px 4px;
  font-size: 28px;
}

.active,
.hov:hover {
  border-radius: 10px;
  border: 1.5px #c6c9c3 solid;
  /* background-color: #c6c9c3; */
}

.banner {
  background-image: url(https://images.pexels.com/photos/773958/pexels-photo-773958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  height: 53vh;
  margin: 0;
  position: relative;
  background-attachment: fixed;
  max-width: 100vw;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #00000e98 100%);
}
.left-ban {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.left-ban img {
  height: 25px;
  object-fit: cover;
}

.banner_Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  color: var(--firstColor);
  position: relative;
  padding: 0 20px;
}

.banner_Text h1 {
  margin: 0;
  font-weight: 100;
  max-width: 700px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: bold;
}

.banner_Text p {
  text-shadow: 2px 2px 2px #000000;
  font-size: 30px;
}

.mainHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  justify-content: center;
}
.mainHome h2 {
  color: var(--secondColor);
  text-transform: capitalize;
  font-size: 4rem;
  margin: 1rem 0 2rem;
}

.mainItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem 0;
  padding: 2rem 0 4rem;
  margin: 3rem auto 4rem;
  overflow: hidden;
  z-index: 1;
}

.mainItems article {
  background-color: var(--firstColor);
  /* box-shadow: 4px 4px 4px 0 #7c191996, -4px -4px 3px 0 rgb(255 255 255 / 71%); */
  box-shadow: 17px 17px 46px -29px #7c191996;
  border-left: 0.5px #c6c9c3 solid;
  border-top: 0.5px #c6c9c3 solid;
  padding: 2rem 3rem 4rem;
  border-radius: 1rem;
  /* height: 50%;*/
  width: 35%;
  z-index: 5;
}
.mainItems article:hover {
  transform: scale(0.98);
  transition: ease;
  box-shadow: 4px 4px 4px 0px #7c191996, 0px 0px 0px 0 #ffffff;
  border-left: none;
}

.mainItems img {
  width: 100%;
  height: 16rem;
  border-radius: 1rem;
  max-height: 35rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

main article h3 {
  color: var(--secondColor);
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}
main article p {
  text-align: justify;
  font-size: 20px;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

main article button {
  background-color: var(--secondColor);
  color: var(--firstColor);
  padding: 10px 12px;
  margin: 0 auto 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  letter-spacing: 4px;
}
main article button:hover {
  transform: rotate(2deg);
  transition: ease;
}
.courses {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 1rem;
  margin: 2rem;
}

.courses h2 {

    font-size: 1.875rem;
    color: var(--secondColor);
    text-transform: capitalize;
    padding: 1rem;
    text-align: center;
    

}

.container-article {
  display: flex;
  flex-direction: row;
}

.courses article {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 1.5rem;
  padding: 1rem;
  background-color: var(--firstColor);
}
.courses article:hover {
  border: 2px var(--bgColor) solid;
  border-radius: 10px;
}

.courses h3 {
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.coursesPrice {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem;
}

.coursesPrice p {
  color: var(--secondColor);
  margin: 0 0.5rem 0 0;
  font-size: 1.44rem;
  font-weight: 100;
  text-transform: capitalize;
}

.coursesPrice span {
  font-size: 1.25rem;
  color: #333;
  text-transform: capitalize;
}

.btnarticle {
  border-radius: 0.5rem;
  color: var(--secondColor);
  background-color: var(--firstColor);
  border: 2px var(--bgColor) solid;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 5px;
  /* padding: 0.5rem; */
}
.btnarticle:hover {
  background-color: var(--bgColor);
  color: var(--firstColor);
}

/* todo INICIA CSS NOSOTROS */

.tittleAboutUs {
  color: var(--secondColor);
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.article_nosotros {
  margin: 0 60px 50px;
  display: flex;
  justify-content: right;
}

.img_aboutUs {
  width: 500px;
  object-fit: cover;
  max-height: 400px;
  margin-right: 40px;
}

.paragraph {
  display: flex;
  flex-direction: column;
}
/* footer */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4a0303;
  width: 100% /* set the background color of the footer to red */;
}

.foot-a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

footer nav ul {
  padding: 1rem;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

footer nav ul li:hover {
    letter-spacing: 3px;
    background-color: #890707c5;
    color: hsl(0, 0%, 100%);
    box-shadow: #6c0e0e 0px 5px 8px 1px;
  }


footer nav a,
.redes p {
  text-align: left;
  font-size: 1rem;
  padding: 0 2rem;
  letter-spacing: 4px;
  color: var(--firstColor);
}
.redes {
  display: block;
  padding: 10px;
  color: var(--firstColor);
}
.redes p {
  padding: 0 0 10px;
  margin: 0 auto 10px;
}
.iconred i {
  color: var(--firstColor);
  margin-right: 1rem;
}
.iconred i:hover {
  transform: scale(1.2);
  transition: 120ms;
}
footer img {
  opacity: 0.5;
  width: 80px;
}

/* Inicio la pÃ¡gina de cursos */
.section-courses {
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 40px;
}

.section-courses article {
  display: block;
  text-align: center;
  width: 350px;
  height: 500px;
  box-shadow: inset 0 0 10px #cbc5c5;
}

.section-courses article:hover {
  transform: translateY(-10px);
  transition: transform 0.5s;
  -webkit-box-shadow: 7px 5px 15px 5px #b9b6b6;
  box-shadow: 7px 5px 15px 5px #b9b6b6;
}

.section-courses img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.section-courses h3 {
  padding: 5px 15px;
  font-size: 25px;
  color: var(--bgColor);
  font-weight: bold;
  text-align: center;
}

.section-courses p {
  margin: 8px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.section-courses a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid;
  border-radius: 8px;
  padding: 10px 15px;
  color: var(--bgColor);
  font-size: 15px;
}

.section-courses a:hover {
  background-color: var(--bgColor);
  color: var(--firstColor);
}

/* inicia mediaquery  */
@media screen and (max-width: 1279px) {
  .mainItems article {
    height: 63vh;
    width: 37vw;
  }
  .mainItems article img {
    height: 40vh;
  }
  .mainItems article p {
    font-size: 17px;
  }

  
}

@media screen and (max-width: 960px) {
    .section-courses {
      padding: 30px;
    }
  }

@media screen and (max-width: 768px) {
  .left-ban h2 {
    font-size: 2.2rem;
  }
  nav li a {
    font-size: 1.5rem;
  }
  .mainItems article {
    height: 62vh;
    width: 65vw;
  }
  .mainItems article img {
    height: 37vh;
  }
  .mainItems article p {
    font-size: 16px;
  }
  footer nav li a {
    font-size: 1rem;
  }

  .section-courses {
    padding: 20px;
  }
}

@media screen and (max-width: 510px) {
    .section-courses {
      padding: 20px 15px;
      gap: 15px;
    }
  }
  
@media screen and (max-width: 480px) {
  .banner_Text h1 {
    font-size: 2.3rem;
  }
  .banner_Text p {
    font-size: 20;
  }
  .mainItems {
    justify-content: center;
  }
  .mainItems article {
    height: 72vh;
    width: 68vw;
  }
  .mainItems article img {
    height: 37vh;
  }

  main article button {
    padding: 9px 10px;
    font-size: 15px;
    border: none;
    border-radius: 1rem;
  }

  .section-courses {
    padding: 20px 10px;
    gap: 15px;
  }

  .section-courses article {
    width: 230px;
    height: 350px;
  }

  .section-courses h3 {
    font-size: 15px;
  }

  .section-courses p {
    font-size: 10px;
  }

  .section-courses a {
    font-size: 12px;
  }

}


